# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/
models/best.pt
# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log

# Virtual environment
.env/
.venv/

# Test output
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
MANIFEST

# Pipenv
Pipfile.lock

# dotenv
.env

# mypy
.mypy_cache/

# Pyre type checker
.pyre/

# Others
*.sqlite3
*.db